.users {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body_style {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.block_follow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    width: 70px;
}

.pages {

}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 5px black;
}

.right_block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    border: black 2px solid;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(128, 0, 128, 0.42);
}

.block_users {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-left: 5px;
}

.block_country {
    display: flex;
    flex-direction: column;
    /*align-items: end;*/
    width: 180px;
    margin: 5px;
}

.selectedPage {
    font-weight: bolder;
    font-size: 20px;
}

