.users {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.body_style {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.block_follow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    width: 70px;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right_block {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    border: black 2px solid;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(128, 0, 128, 0.42);
}

.block_users {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 180px;
    margin-left: 5px;
}

.block_country {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 180px;
    margin: 5px;
}