.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.img {
    display: flex;
}

.title {
    padding: 0 10px;
}

.header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.loginBlock a {
    color: white;
}
