.container {
    display: flex;
    border: 1px solid;
}

.avatar {
    border-radius: 50px;
}

.info {
    margin-left: 10px;
}

.url {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}